/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bkg-text: #ff0070;
  --color-title: #db00ff;
  --main-text-color: #f1b2ce;
  --main-bg-color: #000028;
  --nav-color: #ff0070;

  --hover-button: rgba(255, 0, 112, 0.4);

  --back-img: url(../images/cover-image-dark.png);

  --backrg: #000028;
}

.theme-dark .header__rec {
  display: block;
}
.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
}
