/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: 'IBM Plex mono';
  --main-size-text: 18px;
  --main-text-color: #f1b2ce;
  --main-bg-color: #000028;
  --bkg-text: #ff0070;
  --color-title: #DB00FF;
  --nav-color: #ff0070;
  --hover-button: rgba(255, 0, 112, 0.4);
  --size-logo: clamp(7.25rem, 7.0125rem + 1.0178vw, 7.5rem);
  --back-img: url(../images/cover-image-dark.png);

  --backgr: #000024;
}

@media (min-width: 768px) {
  :root {
    --size-logo: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
}